@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.social {
  @apply h-[48px] w-[48px] hover:scale-125 duration-300 ease-in-out opacity-60 hover:opacity-100 cursor-pointer fill-white hover:fill-yellow-600;
}

.nav {
  @apply h-[32px] opacity-70 hover:text-yellow-600 cursor-pointer rounded-md px-2 hover:opacity-100 hover:ease-in duration-150;
}

.video {
  @apply rounded-xl shadow-md shadow-yellow-600/65;
}

.upcoming {
  @apply w-2/5 bg-yellow-600/40 rounded-2xl;
}

.shows {
  @apply w-full h-20 border border-black flex items-center justify-center;
}
